body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.chooseHand {
    width: 100%;
    text-align: center;
}

.gameResults, .gameWaiting {
    text-align: center;
}

.gameResults i, .gameWaiting i {
    font-size: 40px;
}

.gameResults.won {
    color: green;
}

.gameResults.lost {
    color: red;
}