<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">bbbg</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class="fa fa-home fa-lg"></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/leaderboard']">
                        <span class="fa fa-bitcoin fa-lg"></span> Leaderboard
                    </a>
                </li>
                <li>
                    <a href="https://github.com/BennyM/bigbangblockchaingame">
                        <span class="fa fa-github fa-lg"></span> Github
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
