<div class="chooseHand">

    <img src="rules.png" usemap="#icons"/>
    <map name="icons">
        <area shape="circle" coords="175,85,50" (click)="playHand(availableHands.rock)">
        <area shape="circle" coords="270,160,50" (click)="playHand(availableHands.lizard)">
        <area shape="circle" coords="230,270,50" (click)="playHand(availableHands.spock)">
        <area shape="circle" coords="115,270,50" (click)="playHand(availableHands.scissors)">
        <area shape="circle" coords="80,160,50" (click)="playHand(availableHands.paper)">
    </map>

</div>