<h2>Games</h2>

<!--<p>Credits: {{credits}}, credits needed per game: {{costPerGame}}</p>-->

<button class="btn btn-primary" ng-disabled="credits < costPerGame || loading || inLobby" ng-click="joinLobby()"><i class="fa fa-gamepad"></i> New game</button>
<p></p>

<div ng-show="inLobby">
    <h3>Find player...</h3>
    <div class="list-group">
        <a class="list-group-item" ng-repeat="player in availablePlayers" ng-click="newGame(player.id)">
            {{player.name}}
        </a>
    </div>
</div>

<h3>Games</h3>
<div class="list-group">
    <a class="list-group-item" ng-repeat="game in games" ui-sref="game({ gameid: game.id })">
        {{game.name}}
        <span class="label label-default pull-right" ng-show="game.state === states.busy">busy</span>
        <span class="label label-success pull-right" ng-show="game.state === states.won">won</span>
        <span class="label label-primary pull-right" ng-show="game.state === states.draw">draw</span>
        <span class="label label-danger pull-right" ng-show="game.state === states.lost">lost</span>
    </a>
</div>