<table class="table">
    <thead>
        <tr>
            <th>
                Opponent
            </th>
            <th>
                State
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let game of games">
            <td>{{game.opponentName}}</td>
            <td>
                <div *ngIf="game.winner == null && game.currentRound === 0">
                    <span *ngIf="!game.handPlayed">You were challenged! Respond in kind.</span>
                    <span *ngIf="game.handPlayed">Wait for your opponent...</span>
                </div>
                <div *ngIf="game.winner == null && game.currentRound > 0">
                    <span>Draw! Round {{game.currentRound+1}}: </span>
                    <span *ngIf="!game.handPlayed">Choose another hand.</span>
                    <span *ngIf="game.handPlayed">Wait for your opponent...</span>
                </div>
                <div *ngIf="game.winner != null">
                    <span *ngIf="game.winner">You won!</span>
                    <span *ngIf="!game.winner">You lost.</span>
                </div>
            </td>
            <td>
                <div *ngIf="!game.handPlayed">
                    <button  (click)="onRespondClick(game)" class="btn btn-sm">Respond</button>                
                </div>
                <div *ngIf="game.winner != null">
                    <span [ngSwitch]="game.winningHand">
                        <span *ngSwitchCase="handsType.rock" class="fa fa-hand-rock-o"></span>
                        <span *ngSwitchCase="handsType.paper" class="fa fa-hand-paper-o"></span>
                        <span *ngSwitchCase="handsType.scissors" class="fa fa-hand-scissors-o"></span>
                        <span *ngSwitchCase="handsType.lizard" class="fa fa-hand-lizard-o"></span>
                        <span *ngSwitchCase="handsType.spock" class="fa fa-hand-spock-o"></span>
                    </span>
                    <span> won against </span>
                    <span [ngSwitch]="game.losingHand">
                        <span *ngSwitchCase="handsType.rock" class="fa fa-hand-rock-o"></span>
                        <span *ngSwitchCase="handsType.paper" class="fa fa-hand-paper-o"></span>
                        <span *ngSwitchCase="handsType.scissors" class="fa fa-hand-scissors-o"></span>
                        <span *ngSwitchCase="handsType.lizard" class="fa fa-hand-lizard-o"></span>
                        <span *ngSwitchCase="handsType.spock" class="fa fa-hand-spock-o"></span>
                    </span>
                </div>
            </td>
        </tr>
    </tbody>
</table>